.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn_panel {
  margin-top: 40px;
  margin-left: 0px;
  
}
.btn_panel button{
  width: 120px;
}
.styleh1 h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #1A3447;
}
.plt_btn button{
  position: absolute;
  right: 40px;
  top: 80px;
}
.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 80px;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;

  width: 100%;
}

.locate {
  position: absolute;
  top: 25%;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}
.btn_panel > .btn:not(:first-child) {
  margin-left: 10px;
}
.register-form, .register-form-shadow {
  left: 85%;
  top: 15%;
  margin-left: -25%;
  position: absolute;
  padding: 20px;
  width: 300px;
  /*margin-top: 25%;*/
}
.register-farm, .register-farm-shadow {
 

  margin-left: 300px;
 
  width: 300px;
  font-family: 'Inter';
font-style: normal;

}
.farm-profile h5
{
  width: 400px;
  height: 30px;
  margin-left : 300px;
  margin-top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 39px;
  
  color: #1A3447;
}
.register-form1 > h6{
  font-size: 20px;
  font-weight: 600;
}
.farm-profile p{
  width: 400px;
  height: 26px;
  margin-left : 300px;
  
  font-family: 'Inter';
  font-style: normal;
 
  font-size: 17px;
}
.nav-link{
  text-align: center;
}
.top_filter {
  top: 30%;
  margin-left: -30px;
  padding: 30px;
 
}
/* .searchcontainer{
  top: 45%;
  po
} */
.profileContainer{
 
  top: 70%;
  margin: 20px 0px;
  padding: 40px;
  left: 10px
}
.Profileinfo{
  left: 65%;
  top: 55%;
  margin-left: -25%;
  padding: 60px;
  width: 500px;
  position: relative;
  font-family: 'Inter';
font-style: normal;
}
.Homecontainer{}
.profile-button button{
  
  text-align: center;
  padding: 8px 40px;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  font-family: 'Inter';
font-style: normal;
  left: 90%;
  top: 45%;
  margin-left: -25%;
  position: absolute;
  width: 300px
}
.profile-button2 button{
  background-color: #1a3447;
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  left: 90%;
  top: 120%;
  margin-left: -25%;
  position: relative;
  padding: 15px;
  width: 300px;
  margin-bottom: 20px;
}

.profile-button1 button{
 
  text-align: center;
  padding: 8px 40px;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  font-family: 'Inter';
font-style: normal;
  font-size: 20px;
  left: 90%;
  top: 60%;
  margin-left: -25%;
  position: absolute;
  width: 300px
}
.form-image{
  left: 30%;
  top: 22%;
  margin-left: -25%;
  position: absolute;
  padding: 20px;
  width: 300px;
}
.Farm-land-profile{
  left: 40%;
  top: 20%;
  margin-left: -25%;
  position: absolute;
  padding: 20px;
  width: 600px;


  font-size: 15px;
  margin-bottom: 20px;
}
.update-profile{
  height: 500;
}
.pilotbooking{
  left: 21%;
  margin-top: 40px; 
  margin-left: -25%;
  position: relative;
  width: 1200px;

}
.heading h3{
  width: 1007px;
  height: 41px;
  left: 358px;
  margin-top: 20px;
 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  
  color: #1A3447;
}
.pilotprofile{
  left: 49%;
    top: 25%;
    margin-left: -25%;
    position: absolute;
    padding: 20px;
    width: 400px;
    
}
.pilotprofile-img img{
  left: 110%;
  top: 20%;
  margin-left: -25%;
  position: absolute;
  border-radius:100px;
}
.pilotbutton1 button{
  text-align: center;
  padding: 8px 40px;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  left: 50%;
  top: 50%;
  margin-left: -25%;
  position: absolute;
  width: 300px
}
.pilotbutton2 button{
  text-align: center;
  padding: 8px 40px;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  left: 50%;
  top: 70%;
  margin-left: -25%;
  position: absolute;
  width: 300px

}
.pilotprofile p {  font-size: 16px;
				font-family: inherit;
  }
.Farm-land-profile img{
 border-radius: 30px;
 margin-bottom: 10px;
 margin-top: 10px;
}
.register-form-shadow {
  background-color: white;
  height: 250px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  opacity: 0.8;
}
.register-farm-shadow {
  background-color: white;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  opacity: 0.8;
  font-family: 'Inter';
font-style: normal;
}

.login-form, .login-form-shadow {
  left: 85%;
  top: 25%;
  margin-left: -25%;
  position: absolute;
  padding: 20px;
  /*margin-top: 25%;*/
}

.farmbtn_panel > .btn:not(:first-child) {
  margin-left: 10px;
}
.farmbtn_panel {
  margin-top: 10px;
  float: right;
}

.login-form-shadow {
  background-color: white;
  height: 280px;
  padding: 20px;
  border-radius: 5px;
  width: 348px;
  opacity: 0.8;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
